
# Auto CD
setopt auto_cd

# history
export HISTSIZE=10000
export SAVEHIST=10000
export HISTFILE=${HOME}/.zsh_history
setopt append_history
setopt hist_ignore_all_dups
setopt hist_ignore_space
setopt share_history

# Sourcing
source ~/.zsh_alias
source ~/.zsh_functions
source ~/.zsh_completions
source ~/.zsh_bindkeys

# FZF
source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh
export FZF_TMUX=1
export FZF_ALT_C_COMMAND='fd --type d --max-depth 3'
export FZF_CTRL_T_COMMAND='fd'
bindkey '^S' fzf-cd-widget
setopt noflowcontrol

# Keychain
eval `keychain --agents ssh,gpg --systemd --eval --quiet`

# GCloud SDK
export CLOUDSDK_PYTHON=/usr/bin/python2.7
if [ -f "${HOME}/bin/google-cloud-sdk/path.zsh.inc" ]; then . "${HOME}/bin/google-cloud-sdk/path.zsh.inc"; fi
if [ -f "${HOME}/bin/google-cloud-sdk/completion.zsh.inc" ]; then . "${HOME}/bin/google-cloud-sdk/completion.zsh.inc"; fi

# Zplug
source /usr/share/zsh/scripts/zplug/init.zsh
zplug "bhilburn/powerlevel9k", use:powerlevel9k.zsh-theme
zplug "pinelibg/dircolors-solarized-zsh"
zplug "zsh-users/zsh-autosuggestions"
zplug "zsh-users/zsh-syntax-highlighting"
zplug load

# Pyenv
source /usr/share/zsh/site-functions/_pyenv
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

{{ if eq .chezmoi.fullHostname "laptop-jb" }}
source ~/bin/aws-ssh.sh
{{ end }}
