#!/bin/bash
{{ if eq .chezmoi.osRelease.id "arch" }}
  sudo pacman -S --needed \
    bat \
    bemenu \
    brightnessctl \
    chafa \
    choose \
    dog \
    dunst \
    fd \
    ffmpegthumbnailer \
    firefox \
    fzf \
    git-delta \
    helm \
    helmfile \
    htop \
    hyperfine \
    imv \
    jq \
    keychain \
    kubectl \
    kubie \
    lf \
    pavucontrol \
    ranger \
    ripgrep \
    sway \
    swayidle \
    swaylock \
    tmux \
    waybar \
    waylock \
    wezterm \
    wl-clipboard \
    zsh
{{ end }}
