#!/bin/bash
{{ if eq .chezmoi.osRelease.id "arch" }}
  sudo pacman -S --needed \
    bat \
    bemenu \
    brightnessctl \
    chafa \
    choose \
    dog \
    dunst \
    erdtree \
    eza \
    fd \
    ffmpegthumbnailer \
    firefox \
    fzf \
    git-delta \
    helm \
    helmfile \
    htop \
    hyperfine \
    imv \
    jq \
    keychain \
    krew \
    kubectl \
    kubie \
    lf \
    meld \
    mise \
    pavucontrol \
    ranger \
    ripgrep \
    rsync \
    sheldon \
    shikane \
    stern \
    sway \
    sway-contrib \
    swayidle \
    swaylock \
    tmux \
    tree-sitter-cli \
    usage \
    waybar \
    waylock \
    wezterm \
    wl-clipboard \
    zsh
{{ end }}
