Host github.com
  IdentityFile {{ .github_ssh_key }}
  ConnectTimeout 5
  ConnectionAttempts 5

Host *
  User {{ .ssh_user }}
  AddKeysToAgent yes
  StrictHostKeyChecking {{ default "accept-new" .ssh_host_key_checking }}
