[user]
    email = jb-abbadie@users.noreply.github.com
    name = jb-abbadie
[commit]
    verbose = true

[core]
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[push]
    default = simple

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[url "git@github.com:"]
	insteadOf = https://github.com/

[color]
    ui = auto

[alias]
    lg = log  --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative --decorate

[pull]
    ff = only
