[user]
    email = jb-abbadie@users.noreply.github.com
    name = jb-abbadie
{{ if index . "git_gpg_key" }}
[commit]
    gpgSign = true
[user]
    signingkey = {{ .git_gpg_key }}
{{ end }}
[core]
    excludesfile = /home/jb/.gitignore_global

[push]
    default = simple

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[url "git@github.com:"]
	insteadOf = https://github.com/

[color]
    ui = auto

[alias]
    lg = log  --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative --decorate

[pull]
    ff = only
