-- Pull in the wezterm API
local wezterm = require 'wezterm'
local nvim = require 'nvim'

-- This will hold the configuration.
local config = wezterm.config_builder()

-- This is where you actually apply your config choices
config.font = wezterm.font('Monaspace Neon')
config.harfbuzz_features={ 'calt', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'ss08', 'ss09', 'liga'}
config.underline_position = -2
config.font_size = {{ if hasKey . "hidpi" }}16{{else}}9{{end}}

-- For example, changing the color scheme:
config.color_scheme = 'Solarized (dark) (terminal.sexy)'

config.automatically_reload_config = true
config.tab_bar_at_bottom = true

-- Tmux Binding
config.leader={ key="a", mods="CTRL" }
config.keys = {
  { key = "a", mods = "LEADER|CTRL",  action=wezterm.action{SendString="\x01"}},
  { key = "d", mods = "LEADER",       action=wezterm.action{SplitVertical={domain="CurrentPaneDomain"}}},
  { key = "\\",mods = "LEADER",       action=wezterm.action{SplitHorizontal={domain="CurrentPaneDomain"}}},
  { key = "-", mods = "LEADER",       action=wezterm.action{SplitVertical={domain="CurrentPaneDomain"}}},
  { key = "|", mods = "LEADER|SHIFT",       action=wezterm.action{SplitHorizontal={domain="CurrentPaneDomain"}}},
  { key = "o", mods = "LEADER",       action="TogglePaneZoomState" },
  { key = "z", mods = "LEADER",       action="TogglePaneZoomState" },
  { key = "c", mods = "LEADER",       action=wezterm.action{SpawnTab="CurrentPaneDomain"}},
  -- move panes
  nvim.split_nav('move', 'h'),
  nvim.split_nav('move', 'j'),
  nvim.split_nav('move', 'k'),
  nvim.split_nav('move', 'l'),
  -- resize panes
  nvim.split_nav('resize', 'h'),
  nvim.split_nav('resize', 'j'),
  nvim.split_nav('resize', 'k'),
  nvim.split_nav('resize', 'l'),
  { key = "1", mods = "LEADER",       action=wezterm.action{ActivateTab=0}},
  { key = "2", mods = "LEADER",       action=wezterm.action{ActivateTab=1}},
  { key = "3", mods = "LEADER",       action=wezterm.action{ActivateTab=2}},
  { key = "4", mods = "LEADER",       action=wezterm.action{ActivateTab=3}},
  { key = "5", mods = "LEADER",       action=wezterm.action{ActivateTab=4}},
  { key = "6", mods = "LEADER",       action=wezterm.action{ActivateTab=5}},
  { key = "7", mods = "LEADER",       action=wezterm.action{ActivateTab=6}},
  { key = "8", mods = "LEADER",       action=wezterm.action{ActivateTab=7}},
  { key = "9", mods = "LEADER",       action=wezterm.action{ActivateTab=8}},
  { key = "p", mods = "LEADER",       action=wezterm.action{ActivateTabRelative=-1}},
  { key = "n", mods = "LEADER",       action=wezterm.action{ActivateTabRelative=1}},
  { key = "&", mods = "LEADER|SHIFT", action=wezterm.action{CloseCurrentTab={confirm=true}}},
  { key = "d", mods = "LEADER",       action=wezterm.action{CloseCurrentPane={confirm=true}}},
  { key = "x", mods = "LEADER",       action=wezterm.action{CloseCurrentPane={confirm=true}}},
}

-- and finally, return the configuration to wezterm
return config
